In [2]:
import pandas as pd

In [3]:
aiddata = pd.read_csv("/Users/Bayernlad/Downloads/aiddata-countries-only.csv")

In [4]:
pd.read_csv("/Users/Bayernlad/Downloads/aiddata-countries-only.csv")

,Unnamed: 0,aiddata_id,aiddata_2_id,year,donor,recipient,commitment_amount_usd_constant,coalesced_purpose_code,coalesced_purpose_name
0,1,2.414478e+06,NaN,1977,Saudi Arabia,India,348718518.0,23030,Power generation/renewable sources
1,2,2.414509e+06,NaN,1977,Saudi Arabia,Brazil,191647004.0,23040,Electrical transmission/ distribution
2,3,2.414635e+06,NaN,1983,Saudi Arabia,India,79371799.0,21030,Rail transport
3,4,2.414665e+06,NaN,1984,Saudi Arabia,Taiwan,212202942.0,21030,Rail transport
4,5,2.414667e+06,NaN,1984,Saudi Arabia,Korea,134511154.0,21040,Water transport
5,6,2.414684e+06,NaN,1985,Saudi Arabia,India,128074768.0,23000,"Energy generation and supply, combinations of ..."
6,7,2.414760e+06,NaN,1987,Saudi Arabia,India,72707674.0,21040,Water transport
7,8,2.414840e+06,NaN,1993,Kuwait,Cyprus,25461230.0,21020,Road transport
8,9,2.415076e+06,NaN,1996,Kuwait,Lithuania,21381183.0,23050,Gas distribution
9,10,2.415206e+06,NaN,1998,Kuwait,India,1107033.0,21020,Road transport
10,11,2.426999e+06,NaN,1978,Kuwait,India,103885863.0,23000,"Energy generation and supply, combinations of ..."
11,12,2.427052e+06,NaN,1976,Kuwait,India,193588873.0,23030,Power generation/renewable sources
12,13,2.427058e+06,NaN,1976,Kuwait,Thailand,12905925.0,23040,Electrical transmission/ distribution
13,14,2.427115e+06,NaN,2001,Kuwait,Slovak Republic,1219994.0,14020,Water supply and sanitation - large systems
14,15,2.428296e+06,NaN,1992,Kuwait,Cyprus,6635123.0,21020,Road transport
15,16,2.428502e+06,NaN,1989,Kuwait,India,43493083.0,31320,Fishery development
16,17,2.428506e+06,NaN,1988,Kuwait,Cyprus,16145060.0,21020,Road transport
17,18,2.428566e+06,NaN,1988,Kuwait,Cyprus,27769503.0,14020,Water supply and sanitation - large systems
18,19,2.428587e+06,NaN,1986,Kuwait,Cyprus,30606432.0,21020,Road transport
19,20,2.428601e+06,NaN,1986,Kuwait,India,53561256.0,23030,Power generation/renewable sources
20,21,2.428623e+06,NaN,1984,Kuwait,Cyprus,27051193.0,14040,River development
21,22,2.428652e+06,NaN,1983,Kuwait,India,133092433.0,32220,Mineral/Metal prospection and exploration
22,23,2.428882e+06,NaN,1982,Kuwait,India,131175647.0,32120,Industrial development
23,24,2.428885e+06,NaN,1982,Kuwait,Thailand,50452172.0,23030,Power generation/renewable sources
24,25,2.428888e+06,NaN,1983,Kuwait,Cyprus,21878208.0,21020,Road transport
25,26,2.428969e+06,NaN,1981,Kuwait,India,83971160.0,43010,Multisector aid
26,27,2.428974e+06,NaN,1981,Kuwait,Thailand,65310902.0,23020,Power generation/non-renewable sources
27,28,2.429003e+06,NaN,1981,Kuwait,India,149282062.0,23020,Power generation/non-renewable sources
28,29,2.429034e+06,NaN,1979,Kuwait,Thailand,59307807.0,23000,"Energy generation and supply, combinations of ..."
29,30,2.429037e+06,NaN,1980,Kuwait,Cyprus,23153412.0,14040,River development
...,...,...,...,...,...,...,...,...,...
98510,98511,9.060009e+11,NaN,2013,Portugal,Chile,109.0,16061,Culture and recreation
98511,98512,9.060009e+11,NaN,2013,Poland,Brazil,63571.0,11420,Higher education
98512,98513,9.060009e+11,NaN,2013,Greece,India,24288.0,11420,Higher education
98513,98514,9.060009e+11,NaN,2013,Poland,Brazil,1657.0,11420,Higher education
98514,98515,9.060009e+11,NaN,2013,Poland,Brazil,4141.0,11420,Higher education
98515,98516,9.060009e+11,NaN,2013,Greece,Brazil,25253.0,11420,Higher education
98516,98517,9.060009e+11,NaN,2013,Portugal,Brazil,17651.0,24020,Monetary institutions
98517,98518,9.060009e+11,NaN,2013,Slovak Republic,Chile,2296.0,11420,Higher education
98518,98519,9.060009e+11,NaN,2013,Greece,Chile,1671.0,11420,Higher education
98519,98520,9.060009e+11,NaN,2013,Portugal,Brazil,197649.0,43082,Research/scientific institutions
98520,98521,9.060009e+11,NaN,2013,New Zealand,India,7911.0,11420,Higher education
98521,98522,9.060009e+11,NaN,2013,New Zealand,Brazil,81580.0,24030,Formal sector financial intermediaries
98522,98523,9.060009e+11,NaN,2013,New Zealand,Brazil,52072.0,11420,Higher education
98523,98524,9.060009e+11,NaN,2013,New Zealand,Chile,73769.0,15110,Economic and development policy/planning
98524,98525,9.060009e+11,NaN,2013,New Zealand,South Africa,112232.0,91010,Administrative costs
98525,98526,9.060009e+11,NaN,2013,New Zealand,India,954657.0,16030,Housing policy and administrative management
98526,98527,9.060009e+11,NaN,2013,New Zealand,Chile,245607.0,11420,Higher education
98527,98528,9.060009e+11,NaN,2013,New Zealand,Colombia,244739.0,31100,"Agriculture, combinations of purposes in Agric..."
98528,98529,9.060009e+11,NaN,2013,New Zealand,South Africa,27772.0,11420,Higher education
98529,98530,9.060009e+11,NaN,2013,New Zealand,South Africa,77240.0,15110,Economic and development policy/planning
98530,98531,9.060009e+11,NaN,2013,New Zealand,Thailand,60751.0,11320,Secondary education
98531,98532,9.060009e+11,NaN,2013,Czech Republic,Brazil,4001.0,11320,Secondary education
98532,98533,9.060009e+11,NaN,2013,Czech Republic,Thailand,127.0,15110,Economic and development policy/planning
98533,98534,9.060009e+11,NaN,2013,Czech Republic,Chile,3678.0,15110,Economic and development policy/planning
98534,98535,9.060009e+11,NaN,2013,Czech Republic,South Africa,2382.0,11105,"Education, level unspecified, purpose unspecif..."
98535,98536,9.060009e+11,NaN,2013,Czech Republic,Colombia,51840.0,11420,Higher education
98536,98537,9.060009e+11,NaN,2013,Czech Republic,India,35380.0,72010,Material relief assistance and services
98537,98538,9.060009e+11,NaN,2013,Czech Republic,India,11930.0,11420,Higher education
98538,98539,9.060009e+11,NaN,2013,Czech Republic,Brazil,6669.0,16010,Social/ welfare services
98539,98540,9.060009e+11,NaN,2013,Czech Republic,Chile,7145.0,11120,Education facilities and training

In [5]:
d1 = aiddata.groupby(["year","recipient"],as_index=False)["commitment_amount_usd_constant"].sum()
df1 = pd.DataFrame(d1)

In [13]:
df1 = df1.sort_values(['year'], ascending=True)
df1.columns=['year','country','amount']
df1["country"].replace({"Korea": "South Korea", "Slovak Republic": "Slovakia"}, inplace=True)

In [14]:
df1.to_csv("q3data1.csv")

In [7]:
d2 = aiddata.groupby(["recipient"],as_index=False)["commitment_amount_usd_constant"].sum()
df2 = pd.DataFrame(d2)
df2.columns=['country','amount']
df2["country"].replace({"Korea": "South Korea", "Slovak Republic": "Slovakia"}, inplace=True)

In [8]:
countrydata = pd.read_json('/Users/Bayernlad/Desktop/capital.json')
countrydata=countrydata.rename(columns={'CountryName':'country'})

In [9]:
result = pd.merge(df2,
                 countrydata,
                 on='country')
result.head(50)

,country,amount,CapitalLatitude,CapitalLongitude,CapitalName,ContinentName,CountryCode
0,Australia,2.572618e+09,-35.266666666666666,149.133333,Canberra,Australia,AU
1,Austria,7.702674e+08,48.2,16.366667,Vienna,Europe,AT
2,Belgium,1.843462e+08,50.833333333333336,4.333333,Brussels,Europe,BE
3,Brazil,3.660726e+10,-15.783333333333333,-47.916667,Brasilia,South America,BR
4,Canada,4.068653e+09,45.416666666666664,-75.700000,Ottawa,Central America,CA
5,Chile,7.334129e+09,-33.45,-70.666667,Santiago,South America,CL
6,Colombia,2.553054e+10,4.6,-74.083333,Bogota,South America,CO
7,Cyprus,9.681549e+08,35.166666666666664,33.366667,Nicosia,Europe,CY
8,Czech Republic,2.141913e+09,50.083333333333336,14.466667,Prague,Europe,CZ
9,Denmark,1.663106e+08,55.666666666666664,12.583333,Copenhagen,Europe,DK
10,Estonia,2.513495e+08,59.43333333333333,24.716667,Tallinn,Europe,EE
11,Finland,1.806955e+08,60.166666666666664,24.933333,Helsinki,Europe,FI
12,France,2.375409e+08,48.86666666666667,2.333333,Paris,Europe,FR
13,Germany,6.016400e+04,52.516666666666666,13.400000,Berlin,Europe,DE
14,Greece,5.193779e+08,37.983333333333334,23.733333,Athens,Europe,GR
15,Hungary,2.925327e+09,47.5,19.083333,Budapest,Europe,HU
16,Iceland,1.806004e+07,64.15,-21.950000,Reykjavik,Europe,IS
17,India,1.339805e+11,28.6,77.200000,New Delhi,Asia,IN
18,Ireland,9.346387e+08,53.31666666666667,-6.233333,Dublin,Europe,IE
19,Italy,2.400826e+09,41.9,12.483333,Rome,Europe,IT
20,Japan,2.081102e+09,35.68333333333333,139.750000,Tokyo,Asia,JP
21,South Korea,2.529432e+10,37.55,126.983333,Seoul,Asia,KR
22,Kuwait,7.771540e+09,29.366666666666667,47.966667,Kuwait City,Asia,KW
23,Latvia,4.234950e+08,56.95,24.100000,Riga,Europe,LV
24,Liechtenstein,1.839308e+07,47.13333333333333,9.516667,Vaduz,Europe,LI
25,Lithuania,5.141433e+08,54.68333333333333,25.316667,Vilnius,Europe,LT
26,Luxembourg,5.550398e+08,49.6,6.116667,Luxembourg,Europe,LU
27,New Zealand,2.255883e+08,-41.3,174.783333,Wellington,Australia,NZ
28,Norway,3.680020e+08,59.916666666666664,10.750000,Oslo,Europe,NO
29,Poland,2.451723e+10,52.25,21.000000,Warsaw,Europe,PL
30,Portugal,1.752426e+08,38.71666666666667,-9.133333,Lisbon,Europe,PT
31,Qatar,7.337837e+08,25.283333333333335,51.533333,Doha,Asia,QA
32,Romania,3.329060e+09,44.43333333333333,26.100000,Bucharest,Europe,RO
33,Saudi Arabia,4.877749e+09,24.65,46.700000,Riyadh,Asia,SA
34,Slovakia,8.211956e+08,48.15,17.116667,Bratislava,Europe,SK
35,Slovenia,2.254352e+08,46.05,14.516667,Ljubljana,Europe,SI
36,South Africa,1.865556e+10,-25.7,28.216667,Pretoria,Africa,ZA
37,Spain,5.617118e+08,40.4,-3.683333,Madrid,Europe,ES
38,Sweden,5.975716e+07,59.333333333333336,18.050000,Stockholm,Europe,SE
39,Switzerland,3.267830e+05,46.916666666666664,7.466667,Bern,Europe,CH
40,Taiwan,3.399554e+09,25.033333333333335,121.516667,Taipei,Asia,TW
41,Thailand,4.904132e+10,13.75,100.516667,Bangkok,Asia,TH
42,United Arab Emirates,3.002065e+08,24.466666666666665,54.366667,Abu Dhabi,Asia,AE
43,United Kingdom,9.573440e+08,51.5,-0.083333,London,Europe,GB
44,United States,1.045250e+08,38.883333,-77.000000,Washington D.C.,US,US

In [29]:
result.sort_values(by=['ContinentName'], inplace=True)
result.to_csv("countrydataViz3.csv")

In [10]:
d3 = aiddata.groupby(["year"],as_index=False)["commitment_amount_usd_constant"].sum()
df3 = pd.DataFrame(d3)
df3.columns=['year','amount']

In [12]:
df3.to_csv("years.csv")