In [4]:
import pandas as pd

In [2]:
aiddata = pd.read_csv("/Users/Bayernlad/Downloads/aiddata-countries-only.csv")

In [3]:
pd.read_csv("/Users/Bayernlad/Downloads/aiddata-countries-only.csv")

,Unnamed: 0,aiddata_id,aiddata_2_id,year,donor,recipient,commitment_amount_usd_constant,coalesced_purpose_code,coalesced_purpose_name
0,1,2.414478e+06,NaN,1977,Saudi Arabia,India,348718518.0,23030,Power generation/renewable sources
1,2,2.414509e+06,NaN,1977,Saudi Arabia,Brazil,191647004.0,23040,Electrical transmission/ distribution
2,3,2.414635e+06,NaN,1983,Saudi Arabia,India,79371799.0,21030,Rail transport
3,4,2.414665e+06,NaN,1984,Saudi Arabia,Taiwan,212202942.0,21030,Rail transport
4,5,2.414667e+06,NaN,1984,Saudi Arabia,Korea,134511154.0,21040,Water transport
5,6,2.414684e+06,NaN,1985,Saudi Arabia,India,128074768.0,23000,"Energy generation and supply, combinations of ..."
6,7,2.414760e+06,NaN,1987,Saudi Arabia,India,72707674.0,21040,Water transport
7,8,2.414840e+06,NaN,1993,Kuwait,Cyprus,25461230.0,21020,Road transport
8,9,2.415076e+06,NaN,1996,Kuwait,Lithuania,21381183.0,23050,Gas distribution
9,10,2.415206e+06,NaN,1998,Kuwait,India,1107033.0,21020,Road transport
10,11,2.426999e+06,NaN,1978,Kuwait,India,103885863.0,23000,"Energy generation and supply, combinations of ..."
11,12,2.427052e+06,NaN,1976,Kuwait,India,193588873.0,23030,Power generation/renewable sources
12,13,2.427058e+06,NaN,1976,Kuwait,Thailand,12905925.0,23040,Electrical transmission/ distribution
13,14,2.427115e+06,NaN,2001,Kuwait,Slovak Republic,1219994.0,14020,Water supply and sanitation - large systems
14,15,2.428296e+06,NaN,1992,Kuwait,Cyprus,6635123.0,21020,Road transport
15,16,2.428502e+06,NaN,1989,Kuwait,India,43493083.0,31320,Fishery development
16,17,2.428506e+06,NaN,1988,Kuwait,Cyprus,16145060.0,21020,Road transport
17,18,2.428566e+06,NaN,1988,Kuwait,Cyprus,27769503.0,14020,Water supply and sanitation - large systems
18,19,2.428587e+06,NaN,1986,Kuwait,Cyprus,30606432.0,21020,Road transport
19,20,2.428601e+06,NaN,1986,Kuwait,India,53561256.0,23030,Power generation/renewable sources
20,21,2.428623e+06,NaN,1984,Kuwait,Cyprus,27051193.0,14040,River development
21,22,2.428652e+06,NaN,1983,Kuwait,India,133092433.0,32220,Mineral/Metal prospection and exploration
22,23,2.428882e+06,NaN,1982,Kuwait,India,131175647.0,32120,Industrial development
23,24,2.428885e+06,NaN,1982,Kuwait,Thailand,50452172.0,23030,Power generation/renewable sources
24,25,2.428888e+06,NaN,1983,Kuwait,Cyprus,21878208.0,21020,Road transport
25,26,2.428969e+06,NaN,1981,Kuwait,India,83971160.0,43010,Multisector aid
26,27,2.428974e+06,NaN,1981,Kuwait,Thailand,65310902.0,23020,Power generation/non-renewable sources
27,28,2.429003e+06,NaN,1981,Kuwait,India,149282062.0,23020,Power generation/non-renewable sources
28,29,2.429034e+06,NaN,1979,Kuwait,Thailand,59307807.0,23000,"Energy generation and supply, combinations of ..."
29,30,2.429037e+06,NaN,1980,Kuwait,Cyprus,23153412.0,14040,River development
...,...,...,...,...,...,...,...,...,...
98510,98511,9.060009e+11,NaN,2013,Portugal,Chile,109.0,16061,Culture and recreation
98511,98512,9.060009e+11,NaN,2013,Poland,Brazil,63571.0,11420,Higher education
98512,98513,9.060009e+11,NaN,2013,Greece,India,24288.0,11420,Higher education
98513,98514,9.060009e+11,NaN,2013,Poland,Brazil,1657.0,11420,Higher education
98514,98515,9.060009e+11,NaN,2013,Poland,Brazil,4141.0,11420,Higher education
98515,98516,9.060009e+11,NaN,2013,Greece,Brazil,25253.0,11420,Higher education
98516,98517,9.060009e+11,NaN,2013,Portugal,Brazil,17651.0,24020,Monetary institutions
98517,98518,9.060009e+11,NaN,2013,Slovak Republic,Chile,2296.0,11420,Higher education
98518,98519,9.060009e+11,NaN,2013,Greece,Chile,1671.0,11420,Higher education
98519,98520,9.060009e+11,NaN,2013,Portugal,Brazil,197649.0,43082,Research/scientific institutions
98520,98521,9.060009e+11,NaN,2013,New Zealand,India,7911.0,11420,Higher education
98521,98522,9.060009e+11,NaN,2013,New Zealand,Brazil,81580.0,24030,Formal sector financial intermediaries
98522,98523,9.060009e+11,NaN,2013,New Zealand,Brazil,52072.0,11420,Higher education
98523,98524,9.060009e+11,NaN,2013,New Zealand,Chile,73769.0,15110,Economic and development policy/planning
98524,98525,9.060009e+11,NaN,2013,New Zealand,South Africa,112232.0,91010,Administrative costs
98525,98526,9.060009e+11,NaN,2013,New Zealand,India,954657.0,16030,Housing policy and administrative management
98526,98527,9.060009e+11,NaN,2013,New Zealand,Chile,245607.0,11420,Higher education
98527,98528,9.060009e+11,NaN,2013,New Zealand,Colombia,244739.0,31100,"Agriculture, combinations of purposes in Agric..."
98528,98529,9.060009e+11,NaN,2013,New Zealand,South Africa,27772.0,11420,Higher education
98529,98530,9.060009e+11,NaN,2013,New Zealand,South Africa,77240.0,15110,Economic and development policy/planning
98530,98531,9.060009e+11,NaN,2013,New Zealand,Thailand,60751.0,11320,Secondary education
98531,98532,9.060009e+11,NaN,2013,Czech Republic,Brazil,4001.0,11320,Secondary education
98532,98533,9.060009e+11,NaN,2013,Czech Republic,Thailand,127.0,15110,Economic and development policy/planning
98533,98534,9.060009e+11,NaN,2013,Czech Republic,Chile,3678.0,15110,Economic and development policy/planning
98534,98535,9.060009e+11,NaN,2013,Czech Republic,South Africa,2382.0,11105,"Education, level unspecified, purpose unspecif..."
98535,98536,9.060009e+11,NaN,2013,Czech Republic,Colombia,51840.0,11420,Higher education
98536,98537,9.060009e+11,NaN,2013,Czech Republic,India,35380.0,72010,Material relief assistance and services
98537,98538,9.060009e+11,NaN,2013,Czech Republic,India,11930.0,11420,Higher education
98538,98539,9.060009e+11,NaN,2013,Czech Republic,Brazil,6669.0,16010,Social/ welfare services
98539,98540,9.060009e+11,NaN,2013,Czech Republic,Chile,7145.0,11120,Education facilities and training

In [5]:
purpose = aiddata.groupby(["coalesced_purpose_name","coalesced_purpose_code"])["commitment_amount_usd_constant"].sum()
df = pd.DataFrame(purpose)

In [6]:
df = df.sort_values(['commitment_amount_usd_constant'], ascending=False)
df.head(5)

                                                               commitment_amount_usd_constant
coalesced_purpose_name                 coalesced_purpose_code
Air transport                          21050                                     3.981248e+10
Rail transport                         21030                                     2.049887e+10
Industrial development                 32120                                     1.973854e+10
Power generation/non-renewable sources 23020                                     1.512861e+10
RESCHEDULING AND REFINANCING           60040                                     1.479750e+10

In [7]:
topfive=['Air transport','Rail transport','Industrial development','Power generation/non-renewable sources','RESCHEDULING AND REFINANCING']
top5 = ['21050','21030','32120','23020','60040']

In [8]:
maindata = aiddata.groupby(['donor','recipient','coalesced_purpose_name','coalesced_purpose_code'],as_index=False)['commitment_amount_usd_constant'].sum()
maindata.columns=['donor','recipient','purpose','code','amount']

In [9]:
p1 = maindata[maindata.purpose.isin(topfive)]
p1.head()

,donor,recipient,purpose,code,amount
152,Australia,India,Industrial development,32120,24434534.0
172,Australia,India,Power generation/non-renewable sources,23020,3917484.0
177,Australia,India,Rail transport,21030,2671116.0
277,Australia,South Africa,Industrial development,32120,91287.0
336,Australia,Thailand,Air transport,21050,75135.0

In [18]:
data_f = p1[p1['donor'].isin(donorlist)]
data_f = data_f[data_f['recipient'].isin(receplist)]
data_f = data_f.sort_values(by = ["amount"], ascending=False)
data_f

,donor,recipient,purpose,code,amount
5414,Germany,Poland,RESCHEDULING AND REFINANCING,60040,1.390503e+10
7541,Japan,India,Rail transport,21030,1.151979e+10
13752,United States,Korea,Air transport,21050,5.260158e+09
8017,Japan,Thailand,Rail transport,21030,5.249206e+09
7534,Japan,India,Power generation/non-renewable sources,23020,4.087007e+09
13143,United States,Brazil,Air transport,21050,3.456195e+09
14012,United States,Saudi Arabia,Air transport,21050,3.423114e+09
7924,Japan,Thailand,Air transport,21050,2.648320e+09
7515,Japan,India,Industrial development,32120,2.540562e+09
13612,United States,India,Air transport,21050,2.273859e+09
13197,United States,Brazil,Industrial development,32120,1.785109e+09
5184,Germany,India,Industrial development,32120,1.768993e+09
5206,Germany,India,Power generation/non-renewable sources,23020,1.564258e+09
13416,United States,Colombia,Power generation/non-renewable sources,23020,1.530577e+09
13699,United States,India,Power generation/non-renewable sources,23020,1.518862e+09
14304,United States,Thailand,Industrial development,32120,1.460262e+09
13768,United States,Korea,Power generation/non-renewable sources,23020,1.397887e+09
14253,United States,Thailand,Air transport,21050,1.378790e+09
7987,Japan,Thailand,Industrial development,32120,1.348022e+09
13675,United States,India,Industrial development,32120,1.295117e+09
13216,United States,Brazil,Power generation/non-renewable sources,23020,9.991744e+08
7622,Japan,Korea,Rail transport,21030,9.030520e+08
13764,United States,Korea,Industrial development,32120,8.667927e+08
14104,United States,South Africa,Air transport,21050,8.404548e+08
13846,United States,Poland,Air transport,21050,8.150860e+08
1284,Belgium,Poland,RESCHEDULING AND REFINANCING,60040,7.971739e+08
13395,United States,Colombia,Industrial development,32120,7.890302e+08
13265,United States,Chile,Air transport,21050,7.771583e+08
3793,France,India,Industrial development,32120,7.364127e+08
13298,United States,Chile,Industrial development,32120,6.756431e+08
...,...,...,...,...,...
8366,Korea,Thailand,Rail transport,21030,1.119080e+05
8361,Korea,Thailand,Power generation/non-renewable sources,23020,1.094230e+05
7073,Japan,Brazil,Air transport,21050,1.001650e+05
277,Australia,South Africa,Industrial development,32120,9.128700e+04
9477,Norway,Brazil,Industrial development,32120,8.083100e+04
336,Australia,Thailand,Air transport,21050,7.513500e+04
11767,Sweden,South Africa,Power generation/non-renewable sources,23020,6.437400e+04
10013,Norway,Thailand,Air transport,21050,6.050200e+04
8168,Korea,Colombia,Rail transport,21030,5.885400e+04
2179,Canada,Poland,Power generation/non-renewable sources,23020,5.610700e+04
8298,Korea,Thailand,Air transport,21050,5.233500e+04
11069,Spain,Thailand,Industrial development,32120,3.243500e+04
8098,Korea,Chile,Air transport,21050,2.858600e+04
396,Australia,Thailand,Industrial development,32120,2.689700e+04
7344,Japan,Colombia,Rail transport,21030,2.635100e+04
9968,Norway,South Africa,Rail transport,21030,2.417200e+04
3900,France,Korea,Rail transport,21030,2.209200e+04
10433,Spain,Chile,Air transport,21050,2.070600e+04
10854,Spain,India,Rail transport,21030,1.949700e+04
14331,United States,Thailand,Rail transport,21030,1.874200e+04
1611,Canada,Brazil,Rail transport,21030,1.769300e+04
13316,United States,Chile,Rail transport,21030,1.660100e+04
6451,Italy,Brazil,Power generation/non-renewable sources,23020,1.567700e+04
9960,Norway,South Africa,Power generation/non-renewable sources,23020,1.364000e+04
9883,Norway,South Africa,Air transport,21050,1.352700e+04
3148,Finland,South Africa,Industrial development,32120,7.517000e+03
1381,Belgium,South Africa,Industrial development,32120,7.238000e+03
11643,Sweden,Poland,Rail transport,21030,3.830000e+02
9743,Norway,India,Power generation/non-renewable sources,23020,3.220000e+02
7284,Japan,Colombia,Air transport,21050,2.300000e+01

In [19]:
data_f.to_csv("maindata.csv")

In [12]:
donors = aiddata.groupby(['donor'],as_index=False)['commitment_amount_usd_constant'].sum()
donors = donors.sort_values(by=["commitment_amount_usd_constant"], ascending=False)
donor_f = donors.head(20)
donor_f

             donor  commitment_amount_usd_constant
41   United States                    1.161763e+11
19           Japan                    1.141823e+11
13         Germany                    4.721844e+10
40  United Kingdom                    2.369054e+10
12          France                    1.545646e+10
25     Netherlands                    8.939647e+09
4           Canada                    7.466338e+09
35          Sweden                    6.364046e+09
27          Norway                    4.416814e+09
18           Italy                    3.835656e+09
9          Denmark                    2.952416e+09
36     Switzerland                    2.844088e+09
0        Australia                    2.446616e+09
2          Belgium                    2.144445e+09
34           Spain                    2.014696e+09
31    Saudi Arabia                    1.698411e+09
21          Kuwait                    1.369078e+09
20           Korea                    1.299048e+09
1          Austria                    7.840690e+08
11         Finland                    6.659534e+08

In [13]:
donorlist = donor_f['donor'].tolist()
donorlist

['United States',
 'Japan',
 'Germany',
 'United Kingdom',
 'France',
 'Netherlands',
 'Canada',
 'Sweden',
 'Norway',
 'Italy',
 'Denmark',
 'Switzerland',
 'Australia',
 'Belgium',
 'Spain',
 'Saudi Arabia',
 'Kuwait',
 'Korea',
 'Austria',
 'Finland']

In [14]:
donor_f.to_csv("donors2.csv")

In [15]:
recipients = aiddata.groupby(['recipient'],as_index=False)['commitment_amount_usd_constant'].sum()
recipients = recipients.sort_values(by=["commitment_amount_usd_constant"], ascending=False)
recep_f = recipients.head(10)
recep_f

       recipient  commitment_amount_usd_constant
17         India                    1.339805e+11
41      Thailand                    4.904132e+10
3         Brazil                    3.660726e+10
6       Colombia                    2.553054e+10
21         Korea                    2.529432e+10
29        Poland                    2.451723e+10
36  South Africa                    1.865556e+10
22        Kuwait                    7.771540e+09
5          Chile                    7.334129e+09
33  Saudi Arabia                    4.877749e+09

In [16]:
receplist = recep_f['recipient'].tolist()
receplist

['India',
 'Thailand',
 'Brazil',
 'Colombia',
 'Korea',
 'Poland',
 'South Africa',
 'Kuwait',
 'Chile',
 'Saudi Arabia']

In [17]:
recep_f.to_csv("recipients2.csv")