In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("/Users/Bayernlad/Downloads/aiddata-countries-only.csv")

In [3]:
pd.read_csv("/Users/Bayernlad/Downloads/aiddata-countries-only.csv")

,Unnamed: 0,aiddata_id,aiddata_2_id,year,donor,recipient,commitment_amount_usd_constant,coalesced_purpose_code,coalesced_purpose_name
0,1,2.414478e+06,NaN,1977,Saudi Arabia,India,348718518.0,23030,Power generation/renewable sources
1,2,2.414509e+06,NaN,1977,Saudi Arabia,Brazil,191647004.0,23040,Electrical transmission/ distribution
2,3,2.414635e+06,NaN,1983,Saudi Arabia,India,79371799.0,21030,Rail transport
3,4,2.414665e+06,NaN,1984,Saudi Arabia,Taiwan,212202942.0,21030,Rail transport
4,5,2.414667e+06,NaN,1984,Saudi Arabia,Korea,134511154.0,21040,Water transport
5,6,2.414684e+06,NaN,1985,Saudi Arabia,India,128074768.0,23000,"Energy generation and supply, combinations of ..."
6,7,2.414760e+06,NaN,1987,Saudi Arabia,India,72707674.0,21040,Water transport
7,8,2.414840e+06,NaN,1993,Kuwait,Cyprus,25461230.0,21020,Road transport
8,9,2.415076e+06,NaN,1996,Kuwait,Lithuania,21381183.0,23050,Gas distribution
9,10,2.415206e+06,NaN,1998,Kuwait,India,1107033.0,21020,Road transport
10,11,2.426999e+06,NaN,1978,Kuwait,India,103885863.0,23000,"Energy generation and supply, combinations of ..."
11,12,2.427052e+06,NaN,1976,Kuwait,India,193588873.0,23030,Power generation/renewable sources
12,13,2.427058e+06,NaN,1976,Kuwait,Thailand,12905925.0,23040,Electrical transmission/ distribution
13,14,2.427115e+06,NaN,2001,Kuwait,Slovak Republic,1219994.0,14020,Water supply and sanitation - large systems
14,15,2.428296e+06,NaN,1992,Kuwait,Cyprus,6635123.0,21020,Road transport
15,16,2.428502e+06,NaN,1989,Kuwait,India,43493083.0,31320,Fishery development
16,17,2.428506e+06,NaN,1988,Kuwait,Cyprus,16145060.0,21020,Road transport
17,18,2.428566e+06,NaN,1988,Kuwait,Cyprus,27769503.0,14020,Water supply and sanitation - large systems
18,19,2.428587e+06,NaN,1986,Kuwait,Cyprus,30606432.0,21020,Road transport
19,20,2.428601e+06,NaN,1986,Kuwait,India,53561256.0,23030,Power generation/renewable sources
20,21,2.428623e+06,NaN,1984,Kuwait,Cyprus,27051193.0,14040,River development
21,22,2.428652e+06,NaN,1983,Kuwait,India,133092433.0,32220,Mineral/Metal prospection and exploration
22,23,2.428882e+06,NaN,1982,Kuwait,India,131175647.0,32120,Industrial development
23,24,2.428885e+06,NaN,1982,Kuwait,Thailand,50452172.0,23030,Power generation/renewable sources
24,25,2.428888e+06,NaN,1983,Kuwait,Cyprus,21878208.0,21020,Road transport
25,26,2.428969e+06,NaN,1981,Kuwait,India,83971160.0,43010,Multisector aid
26,27,2.428974e+06,NaN,1981,Kuwait,Thailand,65310902.0,23020,Power generation/non-renewable sources
27,28,2.429003e+06,NaN,1981,Kuwait,India,149282062.0,23020,Power generation/non-renewable sources
28,29,2.429034e+06,NaN,1979,Kuwait,Thailand,59307807.0,23000,"Energy generation and supply, combinations of ..."
29,30,2.429037e+06,NaN,1980,Kuwait,Cyprus,23153412.0,14040,River development
...,...,...,...,...,...,...,...,...,...
98510,98511,9.060009e+11,NaN,2013,Portugal,Chile,109.0,16061,Culture and recreation
98511,98512,9.060009e+11,NaN,2013,Poland,Brazil,63571.0,11420,Higher education
98512,98513,9.060009e+11,NaN,2013,Greece,India,24288.0,11420,Higher education
98513,98514,9.060009e+11,NaN,2013,Poland,Brazil,1657.0,11420,Higher education
98514,98515,9.060009e+11,NaN,2013,Poland,Brazil,4141.0,11420,Higher education
98515,98516,9.060009e+11,NaN,2013,Greece,Brazil,25253.0,11420,Higher education
98516,98517,9.060009e+11,NaN,2013,Portugal,Brazil,17651.0,24020,Monetary institutions
98517,98518,9.060009e+11,NaN,2013,Slovak Republic,Chile,2296.0,11420,Higher education
98518,98519,9.060009e+11,NaN,2013,Greece,Chile,1671.0,11420,Higher education
98519,98520,9.060009e+11,NaN,2013,Portugal,Brazil,197649.0,43082,Research/scientific institutions
98520,98521,9.060009e+11,NaN,2013,New Zealand,India,7911.0,11420,Higher education
98521,98522,9.060009e+11,NaN,2013,New Zealand,Brazil,81580.0,24030,Formal sector financial intermediaries
98522,98523,9.060009e+11,NaN,2013,New Zealand,Brazil,52072.0,11420,Higher education
98523,98524,9.060009e+11,NaN,2013,New Zealand,Chile,73769.0,15110,Economic and development policy/planning
98524,98525,9.060009e+11,NaN,2013,New Zealand,South Africa,112232.0,91010,Administrative costs
98525,98526,9.060009e+11,NaN,2013,New Zealand,India,954657.0,16030,Housing policy and administrative management
98526,98527,9.060009e+11,NaN,2013,New Zealand,Chile,245607.0,11420,Higher education
98527,98528,9.060009e+11,NaN,2013,New Zealand,Colombia,244739.0,31100,"Agriculture, combinations of purposes in Agric..."
98528,98529,9.060009e+11,NaN,2013,New Zealand,South Africa,27772.0,11420,Higher education
98529,98530,9.060009e+11,NaN,2013,New Zealand,South Africa,77240.0,15110,Economic and development policy/planning
98530,98531,9.060009e+11,NaN,2013,New Zealand,Thailand,60751.0,11320,Secondary education
98531,98532,9.060009e+11,NaN,2013,Czech Republic,Brazil,4001.0,11320,Secondary education
98532,98533,9.060009e+11,NaN,2013,Czech Republic,Thailand,127.0,15110,Economic and development policy/planning
98533,98534,9.060009e+11,NaN,2013,Czech Republic,Chile,3678.0,15110,Economic and development policy/planning
98534,98535,9.060009e+11,NaN,2013,Czech Republic,South Africa,2382.0,11105,"Education, level unspecified, purpose unspecif..."
98535,98536,9.060009e+11,NaN,2013,Czech Republic,Colombia,51840.0,11420,Higher education
98536,98537,9.060009e+11,NaN,2013,Czech Republic,India,35380.0,72010,Material relief assistance and services
98537,98538,9.060009e+11,NaN,2013,Czech Republic,India,11930.0,11420,Higher education
98538,98539,9.060009e+11,NaN,2013,Czech Republic,Brazil,6669.0,16010,Social/ welfare services
98539,98540,9.060009e+11,NaN,2013,Czech Republic,Chile,7145.0,11120,Education facilities and training

In [138]:
column_values = (data['donor'].append(data['recipient'])).unique()
#countries =  pd.unique(column_values)
#countries.dtypes
countries=sorted(column_values.tolist())
print(countries)

['Australia', 'Austria', 'Belgium', 'Brazil', 'Canada', 'Chile', 'Colombia', 'Cyprus', 'Czech Republic', 'Denmark', 'Estonia', 'Finland', 'France', 'Germany', 'Greece', 'Hungary', 'Iceland', 'India', 'Ireland', 'Italy', 'Japan', 'Korea', 'Kuwait', 'Latvia', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Monaco', 'Netherlands', 'New Zealand', 'Norway', 'Poland', 'Portugal', 'Qatar', 'Romania', 'Saudi Arabia', 'Slovak Republic', 'Slovenia', 'South Africa', 'Spain', 'Sweden', 'Switzerland', 'Taiwan', 'Thailand', 'United Arab Emirates', 'United Kingdom', 'United States']

In [4]:
donors=data.groupby(["donor"],as_index=False)["commitment_amount_usd_constant"].sum()
donors=donors.rename(columns={'donor':'Country','commitment_amount_usd_constant' : 'Amount'})
donors['Amount']=.000001*donors['Amount']
Fdonors = donors.assign(Type="donated")
#print(Fdonors)

In [5]:
recipients=data.groupby(["recipient"],as_index=False)["commitment_amount_usd_constant"].sum()
recipients=recipients.rename(columns={'donor':'Country','commitment_amount_usd_constant' : 'Amount'})
recipients['Amount']=-.000001*recipients['Amount']
Frecipients = recipients.assign(Type="received")
#print(len(Frecipients))

In [6]:
fd=sorted(Fdonors.values.tolist()) 
fr=sorted(Frecipients.values.tolist())

In [7]:
def convertToList(a):
    l=[]
    for i in range(len(a)):
        l.append(a[i][0])
    return l

In [8]:
a = set(countries).symmetric_difference(set(convertToList(fd)))
print(list(a))

NameError: name 'countries' is not defined

In [160]:
for i in a:
    fd.append([i,0,"donated"])

In [191]:
print(fd)

[['Australia', 2446.616312, 'donated'], ['Austria', 784.068952, 'donated'], ['Belgium', 2144.4452699999997, 'donated'], ['Brazil', 1.13444, 'donated'], ['Canada', 7466.338199999999, 'donated'], ['Chile', 0.564349, 'donated'], ['Colombia', 0.190795, 'donated'], ['Cyprus', 0.005599, 'donated'], ['Czech Republic', 8.930435, 'donated'], ['Denmark', 2952.416405, 'donated'], ['Estonia', 0.27894199999999997, 'donated'], ['Finland', 665.953415, 'donated'], ['France', 15456.459635, 'donated'], ['Germany', 47218.438820999996, 'donated'], ['Greece', 32.667184999999996, 'donated'], ['Hungary', 0.324552, 'donated'], ['Iceland', 0.172501, 'donated'], ['Ireland', 295.144458, 'donated'], ['Italy', 3835.655974, 'donated'], ['Japan', 114182.254172, 'donated'], ['Korea', 1299.04772, 'donated'], ['Kuwait', 1369.078319, 'donated'], ['Liechtenstein', 4.370699999999999, 'donated'], ['Luxembourg', 111.55402199999999, 'donated'], ['Monaco', 0.941387, 'donated'], ['Netherlands', 8939.647189, 'donated'], ['New Zealand', 56.749885, 'donated'], ['Norway', 4416.814418, 'donated'], ['Poland', 0.403184, 'donated'], ['Portugal', 68.900866, 'donated'], ['Qatar', 104.519053, 'donated'], ['Saudi Arabia', 1698.4106889999998, 'donated'], ['Slovak Republic', 0.395574, 'donated'], ['Slovenia', 0.150028, 'donated'], ['Spain', 2014.695904, 'donated'], ['Sweden', 6364.045876, 'donated'], ['Switzerland', 2844.0879529999997, 'donated'], ['Taiwan', 83.737498, 'donated'], ['Thailand', 0.025460999999999998, 'donated'], ['United Arab Emirates', 67.636986, 'donated'], ['United Kingdom', 23690.539376, 'donated'], ['United States', 116176.338066, 'donated'], ['Lithuania', 0, 'donated'], ['Latvia', 0, 'donated'], ['Romania', 0, 'donated'], ['South Africa', 0, 'donated'], ['India', 0, 'donated']]

In [162]:
b = set(countries).symmetric_difference(set(convertToList(fr)))
print(list(b))

['Monaco', 'Netherlands']

In [163]:
for i in b:
    fr.append([i,0,"received"])

In [192]:
print(fr)

[['Australia', -2572.618261, 'received'], ['Austria', -770.267419, 'received'], ['Belgium', -184.34623299999998, 'received'], ['Brazil', -36607.258078, 'received'], ['Canada', -4068.6529659999997, 'received'], ['Chile', -7334.129129999999, 'received'], ['Colombia', -25530.536307, 'received'], ['Cyprus', -968.154947, 'received'], ['Czech Republic', -2141.913341, 'received'], ['Denmark', -166.310586, 'received'], ['Estonia', -251.349503, 'received'], ['Finland', -180.695493, 'received'], ['France', -237.540854, 'received'], ['Germany', -0.060163999999999995, 'received'], ['Greece', -519.3779059999999, 'received'], ['Hungary', -2925.327491, 'received'], ['Iceland', -18.060045, 'received'], ['India', -133980.469969, 'received'], ['Ireland', -934.638729, 'received'], ['Italy', -2400.8264169999998, 'received'], ['Japan', -2081.102258, 'received'], ['Korea', -25294.323452999997, 'received'], ['Kuwait', -7771.540075999999, 'received'], ['Latvia', -423.49503999999996, 'received'], ['Liechtenstein', -18.393083, 'received'], ['Lithuania', -514.14327, 'received'], ['Luxembourg', -555.0398319999999, 'received'], ['New Zealand', -225.58830999999998, 'received'], ['Norway', -368.001981, 'received'], ['Poland', -24517.225188, 'received'], ['Portugal', -175.242606, 'received'], ['Qatar', -733.783749, 'received'], ['Romania', -3329.0598609999997, 'received'], ['Saudi Arabia', -4877.749103, 'received'], ['Slovak Republic', -821.195623, 'received'], ['Slovenia', -225.43519999999998, 'received'], ['South Africa', -18655.55507, 'received'], ['Spain', -561.711808, 'received'], ['Sweden', -59.757155, 'received'], ['Switzerland', -0.326783, 'received'], ['Taiwan', -3399.5544099999997, 'received'], ['Thailand', -49041.31744, 'received'], ['United Arab Emirates', -300.20647199999996, 'received'], ['United Kingdom', -957.3439639999999, 'received'], ['United States', -104.524992, 'received'], ['Monaco', 0, 'received'], ['Netherlands', 0, 'received']]

In [172]:
Donors = pd.DataFrame(fd,columns=['Country',"Amount","Type"])
Recipients = pd.DataFrame(fr,columns=["Country","Amount","Type"])
finaldata = pd.concat([Donors, Recipients], axis=0)
finaldata.sort_values(by=['Country'], inplace=True)

In [173]:
finaldata = finaldata.reset_index()
del finaldata['index']

In [175]:
finaldata.to_csv('Viz1data.csv')

In [207]:
fd = sorted(fd)
fr = sorted(fr)
data_2=[]
data_3=[]
for i in range(47):
        data_2.append([fd[i][0],fd[i][1],fr[i][1]])
        data_3.append([fd[i][0],fd[i][1]/.000001,(fr[i][1]*-1)/.000001,(fd[i][1]-fr[i][1])/.000001])

In [208]:
print(data_3)

[['Australia', 2446616312.0, 2572618261.0, 5019234573.0], ['Austria', 784068952.0, 770267419.0, 1554336371.0], ['Belgium', 2144445269.9999998, 184346233.0, 2328791502.9999995], ['Brazil', 1134440.0, 36607258078.0, 36608392518.0], ['Canada', 7466338200.0, 4068652966.0, 11534991166.0], ['Chile', 564349.0, 7334129130.0, 7334693479.0], ['Colombia', 190795.0, 25530536307.0, 25530727102.0], ['Cyprus', 5599.0, 968154947.0, 968160546.0], ['Czech Republic', 8930435.0, 2141913341.0, 2150843776.0000005], ['Denmark', 2952416405.0, 166310586.0, 3118726991.0], ['Estonia', 278942.0, 251349503.0, 251628445.0], ['Finland', 665953415.0, 180695493.0, 846648907.9999999], ['France', 15456459635.0, 237540854.0, 15694000489.0], ['Germany', 47218438821.0, 60164.0, 47218498985.0], ['Greece', 32667184.999999996, 519377905.99999994, 552045091.0], ['Hungary', 324552.0, 2925327491.0, 2925652043.0], ['Iceland', 172501.0, 18060045.0, 18232546.0], ['India', 0.0, 133980469969.0, 133980469969.0], ['Ireland', 295144458.0, 934638729.0, 1229783187.0], ['Italy', 3835655974.0, 2400826417.0, 6236482391.0], ['Japan', 114182254172.0, 2081102258.0, 116263356430.0], ['Korea', 1299047720.0, 25294323453.0, 26593371172.999996], ['Kuwait', 1369078319.0, 7771540076.0, 9140618395.0], ['Latvia', 0.0, 423495040.0, 423495040.0], ['Liechtenstein', 4370700.0, 18393083.0, 22763783.0], ['Lithuania', 0.0, 514143270.00000006, 514143270.00000006], ['Luxembourg', 111554022.0, 555039832.0, 666593854.0], ['Monaco', 941387.0, 0.0, 941387.0], ['Netherlands', 8939647189.0, 0.0, 8939647189.0], ['New Zealand', 56749885.0, 225588310.0, 282338195.0], ['Norway', 4416814418.0, 368001981.0, 4784816399.000001], ['Poland', 403184.0, 24517225188.0, 24517628372.0], ['Portugal', 68900866.0, 175242606.0, 244143472.0], ['Qatar', 104519053.0, 733783749.0, 838302802.0], ['Romania', 0.0, 3329059861.0, 3329059861.0], ['Saudi Arabia', 1698410689.0, 4877749103.0, 6576159792.000001], ['Slovak Republic', 395574.0, 821195623.0, 821591197.0], ['Slovenia', 150028.0, 225435200.0, 225585227.99999997], ['South Africa', 0.0, 18655555070.0, 18655555070.0], ['Spain', 2014695904.0, 561711808.0, 2576407712.0000005], ['Sweden', 6364045876.0, 59757155.0, 6423803031.000001], ['Switzerland', 2844087953.0, 326783.0, 2844414736.0], ['Taiwan', 83737498.0, 3399554410.0, 3483291908.0], ['Thailand', 25461.0, 49041317440.0, 49041342901.0], ['United Arab Emirates', 67636986.0, 300206472.0, 367843457.99999994], ['United Kingdom', 23690539376.0, 957343964.0, 24647883340.0], ['United States', 116176338066.0, 104524992.0, 116280863058.00002]]

In [196]:
Data2 = pd.DataFrame(data_2,columns=['Country','AmountDonated','AmountReceived'])
Data2.to_csv("Viz1Data2.csv")

In [209]:
Data3 = pd.DataFrame(data_3,columns=['Country','AmountDonated','AmountReceived','Total'])
Data3.to_csv("Viz2Data1.csv")