In [2]:
import pandas as pd

In [4]:
aiddata = pd.read_csv("/Users/Bayernlad/Desktop/InfoViz/Viz1/Q2/Viz2Data1.csv")
aiddata.loc[21, 'Country'] = "South Korea"
aiddata.loc[36,'Country']="Slovakia"

In [6]:
aiddata.head()

   Unnamed: 0    Country  AmountDonated  AmountReceived         Total
0           0  Australia   2.446616e+09    2.572618e+09  5.019235e+09
1           1    Austria   7.840690e+08    7.702674e+08  1.554336e+09
2           2    Belgium   2.144445e+09    1.843462e+08  2.328792e+09
3           3     Brazil   1.134440e+06    3.660726e+10  3.660839e+10
4           4     Canada   7.466338e+09    4.068653e+09  1.153499e+10

In [8]:
countrydata = pd.read_json('/Users/Bayernlad/Desktop/InfoViz/Viz1/Q2/capital-geo.json ')

In [9]:
countrydata=countrydata.rename(columns={'CountryName':'Country'})

In [10]:
result = pd.merge(aiddata,
                 countrydata,
                 on='Country')

In [46]:
result.to_csv('Viz2data.csv')

In [11]:
result.head()

,Unnamed: 0,Country,AmountDonated,AmountReceived,Total,CapitalLatitude,CapitalLongitude,CapitalName,ContinentName,CountryCode
0,0,Australia,2.446616e+09,2.572618e+09,5.019235e+09,-35.266666666666666,149.133333,Canberra,Australia,AU
1,1,Austria,7.840690e+08,7.702674e+08,1.554336e+09,48.2,16.366667,Vienna,Europe,AT
2,2,Belgium,2.144445e+09,1.843462e+08,2.328792e+09,50.833333333333336,4.333333,Brussels,Europe,BE
3,3,Brazil,1.134440e+06,3.660726e+10,3.660839e+10,-15.783333333333333,-47.916667,Brasilia,South America,BR
4,4,Canada,7.466338e+09,4.068653e+09,1.153499e+10,45.416666666666664,-75.700000,Ottawa,Central America,CA